* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}

.container {
	width: 1200px;
	margin: 0 auto	;
	/*padding: 0 6.5rem;*/
}
.col-1 {
	flex-basis: 50%;
	margin-right: 30px;
}

.col-2 {
	flex-basis: 50%;
	margin-left: 30px;
}

header {
	height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

header:before, header:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 50px;
	background: #f2f2f2;
	top: 100%;
	-webkit-transform:translateY(-25px) rotate(45deg);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    transform:translateY(-25px) rotate(45deg);
    z-index:1;
}
header:before {
    left:calc(50% - 25px);
}

header:after {
    left:calc(50% + 25px);
}


.white {
    background:#f2f2f2;
    width:calc(50% - 25px);
    height:30px;
    position:absolute;
    bottom:-5px;
    border-color:orange;
}
.white.left {
    left:0;
}

.white.right {
    right:0;
}

 	

header .contacts-bg {
	background-color: #203a49;
	z-index: 100;
}
header .contacts-content {
	font-size: 1rem;
	padding: 5px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

.soc-icons {
	font-size: 1.2rem;
}
header a {
	color: #f2f2f2;
	text-decoration: none;
	margin-left: 10px;
	transition: color .2s ease
}

header .contacts-content a:hover {
	color: #a8caef;
}

header .contacts-content div {
	margin-left: 50px;
}

video {
	/*filter: blur(2px);*/
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
    object-position: top;

}
.logo {
	padding-top: 15px;
	min-width: 70px;
}

#studio_photo{
	transform: translate(-24px, 34px) scale(1.4);
}
#dom-cult{
	height: 150%;
	transform: translate(2px, -40px);
}

.nav-wrap {
	position: relative;
	/*margin: 30px 0 0 0 ;*/

}

.fixed-nav {
	position: fixed;
    background-color: #203a49;
    width: 100%;
    padding: 0 50px;
    top: -100px;
    z-index: 99999;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0, .2);
    /*transition: top .1s ease-in-out;*/
}

.fixed-nav .navigation {
	align-items: center;
}

.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	text-transform: uppercase;
	align-items: flex-end;
	font-family: Montserrat, Arial, sans-serif;
}
.navigation nav {
	height: 85px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
}

nav a {
	margin-left: 10px;
	padding: 1.9rem 1.48rem;
	transition: all .3s ease;
	/*border-radius: 50px;*/
}

nav a:hover {
	background-color: rgba(230,230,230,.2);
}

#bar, #mob-bar {
	color: #f2f2f2;
	font-size: 3rem;
	cursor: pointer;
}

#bar {
	align-self: center;
	display: none;
}
#mob-bar {
	margin-top: 50px;
	margin-right: 15px;
}

.mob-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, .7);
	display: flex;
	justify-content: flex-end;
	display: none;
	z-index: 100;
}

.mob-nav {
	position: fixed;
	top: 0;
	right: -50%;
	height: 100vh;
	background-color: #424242;
	box-shadow: -2px 2px 5px 2px rgba(0,0,0, .3);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	transition: all .3s ease-in-out;
	z-index: 200;

}

.mob-nav nav {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.mob-nav nav a{
	padding: 15px 15px 15px 30px;
	width: 100%;
	text-align: right;
	border-radius: 0;
}
.mob-nav nav a:hover {
	background-color: #343434;
}

.active {
	display: block;
}

.slide {
	color: #f2f2f2;
	text-align: center;
	margin-top: 100px;

}
.slide-top {
	margin-top: 235px;
}
.slide h1 {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 5px;
	margin-top: 20vh;
}
.slide h3 {
	font-size: 2rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 5vh;
	text-shadow: 2px 2px 2px #0000007a;
}

.btn {
	display: inline-block;
	border-radius: 50px;
	padding: 15px 50px;
	font-weight: bolder;
	text-transform: uppercase;
	background-color: #297963;
	background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);

	-moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.slide .btn {
	margin-top: 5vh;
}
.promo {
	padding-top: 100px;
}
.promo>div{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.promo-video {
	flex-grow: 1;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0, .4);
}
.promo-video iframe {
	width: 100%;
	display: block;
}
.promo-content {
	display: flex;
	flex-flow: column nowrap;
	flex-shrink: 2;
}

article h2 {
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: bolder;
	font-size: 2.2rem;
}


article h3 {
	margin-top: 5px;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1.8rem;
}

article p {
	margin-top: 10px;
	font-family: "Open Sans Condensed", sans-serif;
}
.services {
	margin-top: -30px;
	background-color: #506e77;
	background-image: linear-gradient(to right, #4f7677, #506577);
	color: #f2f2f2;
}
.services>div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.services-title {
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 50%;
	text-align: right;
}

.services-content {
	flex-grow: 1;
}
.services-item {
	display: block;
	padding: 40px 30px;
	color: #f2f2f2;
	text-decoration: none;
	background-color: #5a7585;
	margin: 35px 0;
	transition: all .3s ease-in-out;
}
.services-item i {
	font-size: 3rem;
	width: 60px;
}
.services-item:hover {
	background-color: #6c8fa3;
}

.services-item span {
	font-size: 2.4rem;
	margin-left: 40px;
	text-transform: uppercase;
	font-family: "Yanone Kaffeesatz", sans-serif;
}

.about {
	background-image: url("img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.person {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 50px 0;
}
.person .photo {
	min-width: 200px;
	max-width: 570px;
}

.glider-contain button {
	top: 50%;
	transform: translateY(-25px);
}



.photo img {
	width: 100%;
	object-fit: cover;
}

.person .links {
	margin: 20px 0;
}
.person .links a{
	font-size: 2rem;
	color: #5a7585;
	margin:5px;
	transition: color .3s ease;
}
.person .links a:hover {
	color: #36a4e6;
}
.ilona .desc {
	text-align: right;
}

.info {
	padding: 50px 0;
	color: #f2f2f2;
	background-color: #819fa8;
	background-image: linear-gradient(to right, #74909c, #8fadb4);
}

.info span {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	/*text-shadow: 2px 2px 0px #7c7c7c;*/
}
.items {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin: 25px 0;
}

.info .col-1,  .info .col-2 {
	margin: 0;
}

.info .item {
	display: flex;
	flex-flow: row nowrap;
	background-color: #f8faff;
	color: #333c36;
	text-align: center;
}
.info .item .img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.info .item:nth-child(1) .img img {
	object-position: 77%;
}
.info .item:nth-child(2) .img img {
	object-position: 30%;
}
.info .item:nth-child(3) .img img {
	object-position: 60%;
}

.info .desc {
	padding: 20px 30px;
	text-align: left;
}

.info .item h4 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: normal;
	/*text-shadow: 2px 1px 0px #ccc;*/
}
.info .cros .desc{
	text-align: right;
}
.comments .slider-comments {
	position: relative;
	overflow: hidden;
}

.comments {
	background-color: #fff;
	padding: 30px 0;
}

.comments h2, .comments h3 {
	text-align: center;
}

.comments .wrapper {
	position: relative;
	list-style: none;
	width: 500%;
	margin: 30px auto;
	
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	transition: all .7s ease-in-out;
}
.comments .arrows div {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 3rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s ease;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.fa, .fas{
	color: #709eac;
}

.services .fas, header .fas {
	color: #f2f2f2;
}
.comments .arrows div:hover {
	background-color: rgba(224,224,224, .6);
}
.comments .arrows div:hover i {
	text-shadow: none;
}

.comments .arrows .left {
	left: 0;
	padding-right: 5px;
}
.comments .arrows .right {
	right: 0;
	padding-left: 5px: 
}
.comments .arrows i {
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}
.comments .item  {
	width: calc(100vw);
	
}
.comments .item .item-wrap {
	display: flex;
	align-items: center;
	margin: 0 80px;
}

.comments .avatar {
	border-radius: 50%;
	overflow: hidden;
	flex-basis: 170px;
	height: 170px;
	flex-shrink: 1;
	flex-grow: 0;
	margin: 0 20px;

}
.comments .avatar img {
	height: 100%;
}

.comments .text {
	flex-basis: 100px;
	flex-shrink: 1;
	flex-grow: 6;
	padding: 20px;
}
.comments .text .content {
	/*font-style: italic;*/
}
.comments .text .name {
	margin-top: 20px;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-weight: bold;
} 
.comments .text .date {
	font-size: 1.1rem;
	font-style: italic;
	margin-top: 0px;
}
.clients {
	padding: 3rem 0;
	background-image: linear-gradient(135deg, #00D9CF, #3A9EEE);
}
.titles{
	color: #f2f2f2;
	text-align: center;
}

.client_container{
	padding: 40px 0;
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
}
.client_container .client_photo{
	background-image: url(img/sprites2.webp);
	width: 250px;
	height: 114px;
	content: "";
	background-size: 500px;
	background-color: rgba(255, 255, 255, 0.25);
	margin: 5px;
	cursor: pointer;
}
.client_container .client_photo:nth-child(1){
	background-position: -254px 599px;
}
.client_container .client_photo:nth-child(2){
	background-position: -254px 723px;
}
.client_container .client_photo:nth-child(3){
	background-position: -175px 690px;
	background-size: 400px;
}
.client_container .client_photo:nth-child(4){
	background-position: -254px 969px;
}
.client_container .client_photo:nth-child(5){
	background-position: -244px 1085px;
}
.client_container .client_photo:nth-child(6){
	background-position: -231px 1156px;
	background-size: 480px;
}
.client_container .client_photo:nth-child(7){
	background-position: -179px 1076px;
	background-size: 400px;
}
.client_container .client_photo:nth-child(8){
	background-position: -249px 1455px;
}

.client_container .client_photo:hover{
		box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
}
.client_container .client_photo:nth-child(1):hover{
	background-position: -3px 599px;
}
.client_container .client_photo:nth-child(2):hover{
	background-position: -3px 722px;
}
.client_container .client_photo:nth-child(3):hover{
	background-position: 23px 690px;
}
.client_container .client_photo:nth-child(4):hover{
	background-position: 3px 969px;
}
.client_container .client_photo:nth-child(5):hover{
	background-position: 7px 1086px;
}
.client_container .client_photo:nth-child(6):hover{
	background-position: 9px 1156px;
}
.client_container .client_photo:nth-child(7):hover{
	background-position: 21px 1076px;
}
.client_container .client_photo:nth-child(8):hover{
	background-position: 1px 1455px;
}

.form-section {
	background-color: #ccc;
	background-image: url("img/bg-form.jpg");
	background-size: cover;
	/*background-attachment: fixed;*/
}
.form-section div {
	display: flex;
	flex-flow: row nowrap;
}

.form-section .title{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-self: center;
	color: #f2f2f2;
}

.form-section .form-field {
	background-color: #f2f2f2;
	padding: 30px 20px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0, .14);
}
.form-section .form-field form{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.form-section .form-field form label {
	margin-top: 10px;
	color: #333c36;
}
.form-section .form-field form input {
	display: block;
	margin: 10px 0;
	padding: 10px 15px;
	min-width: 300px;
	max-width: 500px;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0px 2px 0 0 rgba(0,0,0, .2); 
	transition: all .2s ease;
}
.form-section .form-field form input[type='submit'] {
	line-height: 100%;
	color: #f2f2f2;
	background-color: #6de125;
	background-image: linear-gradient(to right, #6de125, #c8df0c, #e4ff03, #f13416);
	cursor: pointer;
	box-shadow: none;
}



.form-section .form-field form input:focus {
	outline: none;
	box-shadow: inset 0px 2px 1px 1px rgba(0,0,0, .2); 
}

.form-section .title span {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	display: block;
	margin: 15px 0;
	text-transform: uppercase;
}

footer {
	background-color: #203a49;
	color: #f2f2f2;
	padding-top: 40px;
}

footer ul {
	list-style: none;
	font-family: "Yanone Kaffeesatz", sans-serif;
	letter-spacing: 2px;
}
footer li{
	margin-top: 10px;
}
footer a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 1rem;
}
footer .soc-icons a {
	font-size: 2rem;
	margin-right: 20px;
}
footer .soc-icons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.footer-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
footer .container {
	display: flex;
	flex-flow: row nowrap;
}

footer .logo {
	width: 170px;
	
}

footer .copyright {
	text-align: center;
	padding: 20px 0;
	font-size: 1rem;
	font-family: "Open Sans Condensed", sans-serif;	
}

/*услуги*/
.bg_services{
	background-image: url(img/bg_2.jpg);
}
.service{
	padding: 6rem 0;
}
.service p{
	padding: 1rem 0;
}
.service ul{
	font-family: "Open Sans Condensed", sans-serif;	
	list-style: none;
	padding-bottom: 1rem;
}
.service ul li:before{
	content: "✓  ";
	color:#000000;
}
.service h3, .service h2{
	text-align: center;
}
.service h3{
	padding-top: 1rem;
}
.service p span{
	font-style: italic;
}
.service_photos_flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-bottom: 6rem;
}
.service_photo{
	width: 50%;
	height: 350px;
	background-size: cover;
	background-color: #485060;
	background-blend-mode: overlay;
}
.service_photo:nth-child(1){
	background-image: url(img/mg4.jpg);
}
.service_photo:nth-child(2){
	background-image: url(img/mg1.jpg);
}
.service_photo:nth-child(3){
	background-image: url(img/mg2.jpg);
}
.service_photo:nth-child(4){
	background-image: url(img/mg3.jpg);
}
.service_photo:nth-child(5){
	background-image: url(img/mg.jpg);
}
.service_photo:nth-child(6){
	background-image: url(img/mg5.jpg);
}


/*кастомные*/
#new_year{
	background-image: url(img/ng_bg.jpg);
}
#birthday{
	background-image: url(img/bd_bg1.jpg);
}
#party{
	background-image: url(img/pt_bg.jpg);
}
#anniversary{
	background-image: url(img/an_bg.jpg);
}
#corporativ{
	background-image: url(img/cor_bg.jpg);
}
#contact{
	background-image: url(img/ct_bg.jpg);
}

#gallery{
	background-image: url('img/gallery_bg.jpg');	
}
/*#no_dec header:before, #no_dec header:after{
	display: none;
}*/

#contact_block{
	display: flex;
	flex-flow: column nowrap;
	padding: 15px 25px;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
#contact_block a{
	color: black;
}
#org-imp{
	background-image: url(img/org_bg.jpg);
}
#organize{
	background-color: #5a7585;
}
#organize h2, #organize p{
	color: #f2f2f2;
}
#org-imp .white{
	background: #5a7585;
}
#org-imp:before, #org-imp:after{
	background: #5a7585;
}
#orgs{
	padding-top: 2rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
#orgs div{
	display: block;
	margin: 1rem 6em;
	color: #f2f2f2;
	border: 1px solid #f2f2f2;
	padding: 2rem;
}
#organize p{
	font-size: 1.5rem;
}
#orgs div p{
	font-size: 1.75rem;
	padding: 0;
	margin: 0;
}
#orgs div a{
	color: #f2f2f2;
	margin-top: 0.75rem;
	display: block;
}


/*form*/
#hiddenDiv{
	display: none;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, .8);
	height: 100vh;
	width: 100vw;
}
#formPopUp{
	padding: 5rem 3rem;
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	background-color: white;
	top: 10%;
	right: 30vw;
	left: 30vw;
	height: 80vh;
	font-size: 1.25rem;
	font-family: "Open Sans Condensed", sans-serif;	
	border-radius: 8px;

}
#sended{
	padding: 3rem;
	text-align: center;
	font-size: 2rem;
}
.input_style{
	display: flex;
	flex-flow: column;
	padding-top: 1rem;
}
#formPopUp input{
	border: 1px solid #d5d5d5;
	padding: 1rem;
	border-radius: 14px;
}
#formPopUp legend{
	font-weight: bold;
	margin-top: 2rem;
}
#formPopUp input[type="submit"]{
	border: none;
	font-family: "Open Sans Condensed", sans-serif;	
	font-size: 1.25rem;
	margin-top: 3rem;
	background-color: #0e3729;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#formPopUp p{
	color: grey;
	font-size: 1rem;
}
#hiddenDiv svg{
	position: absolute;
	right: 2vw;
	top: 3vh;
	width: 1.25rem;
	cursor: pointer;
}


/*Dropdown_menu*/
#closed_dropdown{
	display: none;
	flex-flow: column nowrap;
	background-color: rgba(0,0,0, .9);
	width: 20%;
	position: absolute;
	right: 5.5rem;
	top: 70px;
	/*padding-top: 2.1rem;*/
	/*z-index: -1;*/
}
.dropdown_menu{
	font-size: 0.9rem;
	border-radius: 0;
	padding: 1.25rem 1.75rem;
	margin: 0;
}
#dropdown_btn{
	background-color: transparent;
	position: relative;
}
.dropdown_menu:hover{
	width: 100%;
}
#mob_closed_dropdown{
	display: none;
	flex-flow: column nowrap;
	position: absolute;
	right: 9.9rem;
	background-color: #424242;
	width: 47vw;
}
.mob_dropdown_menu{
	margin: 0;
	padding-right: 2rem !important;
}


/*галлерея*/
.glider-contain 


.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgb(255, 255, 255);  
}
.container1 {
  perspective: 1000px;
}
 .active_flip {
  transform: rotateY(-180deg);
} 
.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}
#back_card{
	text-align: center;
	font-weight: bold;
	display: flex;
	flex-flow: column nowrap;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 5px;
}